doctype html
html
  head
    block head
      link(rel='stylesheet',href='index.css')
      meta(charset='utf-8')
      meta(name='viewport',content='width=device-width')
  body
    block body
      h1 inmake
      ul#navigation
        block navigation
      #text
        block text
    #afterspace